{{ define "main" }}
<article class="post">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "01/02/2006" }}</time>
    {{ with .Params.tags }}
    <div class="post-tags">
      {{ range $i, $tag := . }}{{ if $i }}, {{ end }}<a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}/">{{ $tag | lower }}</a>{{ end }}
    </div>
    {{ end }}
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{ end }}
